apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: caddy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: caddy
#pod.yaml
  template:
    metadata:
      labels:
        app: caddy
    spec:
      containers:
      - name: caddy
        image: caddy
        ports:
        - containerPort: 80